           <!-- MAIN (Center website) -->
           <div class="main">
            <h2 class="title_cust_h2">Galerie d'imagerie</h2>
          
            <div id="myBtnContainer">
              <button class="btn active" (click)="filterSelection('all')">Tout</button>
              <button class="btn" (click)="filterSelection('projects')">Projets</button>
              <button class="btn" (click)="filterSelection('events')">Événements</button>
              <button class="btn" (click)="filterSelection('others')">Autres</button>
            </div>
          
            <!-- Portfolio Gallery Grid -->
            <div class="row row-gallery">
              <!-- Projects section -->
              <div class="column projects">
                <div class="content-gallery zoom-gallery">
                  <img src="http://acmdh.org/resource/images/gallery/proj1.jpg" alt="proj1" style="width:100%">
                  <h5>Opération Targa - 2012</h5>        
                </div>
              </div>
              <div class="column projects">
                <div class="content-gallery zoom-gallery">
                <img src="http://acmdh.org/resource/images/gallery/proj2.jpg" alt="proj2" style="width:100%">
                  <h5>S.O.S Sud - 2015</h5>        
                </div>
              </div>
              <div class="column projects">
                <div class="content-gallery zoom-gallery">
                <img src="http://acmdh.org/resource/images/gallery/proj3.jpg" alt="proj3" style="width:100%">
                  <h5>S.O.S Sud - 2015</h5>        
                </div>
              </div>
              <div class="column projects">
                <div class="content-gallery zoom-gallery">
                <img src="http://acmdh.org/resource/images/gallery/proj4.jpg" alt="proj4" style="width:100%">
                  <h5>Ait-Ettab2 - 2013</h5>        
                </div>
              </div>
              <div class="column projects">
                <div class="content-gallery zoom-gallery">
                <img src="http://acmdh.org/resource/images/gallery/proj5.jpg" alt="proj5" style="width:100%">
                  <h5>Ait-Ettab2 - 2013</h5>         
                </div>
              </div>
              <div class="column projects">
                <div class="content-gallery zoom-gallery">
                <img src="http://acmdh.org/resource/images/gallery/proj6.jpg" alt="proj6" style="width:100%">
                  <h5>Azilal - 2015</h5>         
                </div>
              </div>
              <div class="column projects">
                <div class="content-gallery zoom-gallery">
                <img src="http://acmdh.org/resource/images/gallery/proj7.jpg" alt="proj7" style="width:100%">
                  <h5>Azilal - 2015</h5>         
                </div>
              </div>
              <div class="column projects">
                <div class="content-gallery zoom-gallery">
                <img src="http://acmdh.org/resource/images/gallery/proj8.jpg" alt="proj8" style="width:100%">
                  <h5>Ait-Ettab1 - 2013</h5>         
                </div>
              </div>
              <div class="column projects">
                <div class="content-gallery zoom-gallery">
                <img src="http://acmdh.org/resource/images/gallery/proj9.jpg" alt="proj9" style="width:100%">
                  <h5>Ait-Ettab1 - 2013</h5>         
                </div>
              </div>
              <div class="column projects">
                <div class="content-gallery zoom-gallery">
                <img src="http://acmdh.org/resource/images/gallery/proj10.jpg" alt="proj10" style="width:100%">
                  <h5>Ait-Ettab1 - 2013</h5>         
                </div>
              </div>
              <div class="column projects">
                <div class="content-gallery zoom-gallery">
                <img src="http://acmdh.org/resource/images/gallery/proj11.jpg" alt="proj11" style="width:100%">
                  <h5>Azilal - 2015</h5>         
                </div>
              </div>
              <div class="column projects">
                <div class="content-gallery zoom-gallery">
                <img src="http://acmdh.org/resource/images/gallery/proj12.jpg" alt="proj12" style="width:100%">
                  <h5>Rokba - 2016</h5>         
                </div>
              </div>
              <div class="column projects">
                <div class="content-gallery zoom-gallery">
                <img src="http://acmdh.org/resource/images/gallery/proj13.jpg" alt="proj13" style="width:100%">
                  <h5>Rokba - 2016</h5>         
                </div>
              </div>
              <div class="column projects">
                <div class="content-gallery zoom-gallery">
                <img src="http://acmdh.org/resource/images/gallery/proj14.jpg" alt="proj14" style="width:100%">
                  <h5>Rokba - 2016</h5>         
                </div>
              </div>
              <div class="column projects">
                <div class="content-gallery zoom-gallery">
                <img src="http://acmdh.org/resource/images/gallery/proj15.jpg" alt="proj15" style="width:100%">
                  <h5>Rokba - 2016</h5>         
                </div>
              </div>
          
              <!-- Events section -->  
              <div class="column events">
                <div class="content-gallery zoom-gallery">
                  <img src="http://acmdh.org/resource/images/gallery/evt1.jpg" alt="Evt1" style="width:100%">
                  <h5>Séance d'orientation - Pharmacie</h5>         
                </div>
              </div>
              <div class="column events">
                <div class="content-gallery zoom-gallery">
                <img src="http://acmdh.org/resource/images/gallery/evt2.jpg" alt="Evt2" style="width:100%">
                  <h5>Séance d'orientation - Médecine</h5>         
                </div>
              </div>
              <div class="column events">
                <div class="content-gallery zoom-gallery">
                <img src="http://acmdh.org/resource/images/gallery/evt3.jpg" alt="Evt3" style="width:100%">
                  <h5>Séance d'orientation - Médecine</h5>         
                </div>
              </div>
              <div class="column events">
                <div class="content-gallery zoom-gallery">
                <img src="http://acmdh.org/resource/images/gallery/evt4.jpg" alt="Evt4" style="width:100%">
                  <h5>Séance d'orientation - La recherche scientifique</h5>        
                </div>
              </div>
              <div class="column events">
                <div class="content-gallery zoom-gallery">
                <img src="http://acmdh.org/resource/images/gallery/evt5.jpg" alt="Evt5" style="width:100%">
                  <h5>Séance d'orientation - Ingénierie Informatique</h5>        
                </div>
              </div>
              <div class="column events">
                <div class="content-gallery zoom-gallery">
                <img src="http://acmdh.org/resource/images/gallery/evt6.jpg" alt="Evt6" style="width:100%">
                  <h5>Séance d'orientation - Sciences Juridiques</h5>        
                </div>
              </div>
              <div class="column events">
                <div class="content-gallery zoom-gallery">
                <img src="http://acmdh.org/resource/images/gallery/evt7.jpg" alt="Evt7" style="width:100%">
                  <h5>Séance d'orientation - Comptabilité et Finances</h5>        
                </div>
              </div>
              <div class="column events">
                <div class="content-gallery zoom-gallery">
                <img src="http://acmdh.org/resource/images/gallery/evt8.jpg" alt="Evt8" style="width:100%">
                  <h5>Séance d'orientation - Sciences de l'Ingénierie</h5>        
                </div>
              </div>
              <div class="column events">
                <div class="content-gallery zoom-gallery">
                <img src="http://acmdh.org/resource/images/gallery/evt9.jpg" alt="Evt9" style="width:100%">
                  <h5>Invitée : Conseillère en orientation Prof.</h5>        
                </div>
              </div>
              <div class="column events">
                <div class="content-gallery zoom-gallery">
                <img src="http://acmdh.org/resource/images/gallery/evt10.jpg" alt="Evt10" style="width:100%">
                  <h5>Souper - Bénifice</h5>        
                </div>
              </div>
              <div class="column events">
                <div class="content-gallery zoom-gallery">
                <img src="http://acmdh.org/resource/images/gallery/evt11.jpg" alt="Evt11" style="width:100%">
                  <h5>Quelques membres de ACMDH</h5>        
                </div>
              </div>
              <div class="column events">
                <div class="content-gallery zoom-gallery">
                <img src="http://acmdh.org/resource/images/gallery/evt12.jpg" alt="Evt12" style="width:100%">
                  <h5>Séance d'orientation - Pharmacie</h5>        
                </div>
              </div>
              <div class="column events">
                <div class="content-gallery zoom-gallery">
                <img src="http://acmdh.org/resource/images/gallery/evt13.jpg" alt="Evt13" style="width:100%">
                  <h5>Séance d'orientation - Public cible</h5>        
                </div>
              </div>
              <div class="column events">
                <div class="content-gallery zoom-gallery">
                <img src="http://acmdh.org/resource/images/gallery/evt14.jpg" alt="Evt14" style="width:100%">
                  <h5>Séance d'orientation - Public cible</h5>        
                </div>
              </div>
              <div class="column events">
                <div class="content-gallery zoom-gallery">
                <img src="http://acmdh.org/resource/images/gallery/evt15.jpg" alt="Evt15" style="width:100%">
                  <h5>Souper - Bénifice</h5>        
                </div>
              </div>
              <div class="column events">
                <div class="content-gallery zoom-gallery">
                <img src="http://acmdh.org/resource/images/gallery/evt16.jpg" alt="Evt16" style="width:100%">
                  <h5>Souper - Bénifice</h5>        
                </div>
              </div>
              <div class="column events">
                <div class="content-gallery zoom-gallery">
                <img src="http://acmdh.org/resource/images/gallery/evt17.jpg" alt="Evt17" style="width:100%">
                  <h5>Souper - Bénifice</h5>        
                </div>
              </div>
              <div class="column events">
                <div class="content-gallery zoom-gallery">
                <img src="http://acmdh.org/resource/images/gallery/evt18.jpg" alt="Evt18" style="width:100%">
                  <h5>Souper - Bénifice</h5>        
                </div>
              </div>
              <div class="column events">
                <div class="content-gallery zoom-gallery">
                <img src="http://acmdh.org/resource/images/gallery/evt19.jpg" alt="Evt19" style="width:100%">
                  <h5>Souper - Bénifice</h5>        
                </div>
              </div>
              <div class="column events">
                <div class="content-gallery zoom-gallery">
                <img src="http://acmdh.org/resource/images/gallery/evt20.jpg" alt="Evt20" style="width:100%">
                  <h5>Souper - Bénifice</h5>        
                </div>
              </div>
              <div class="column events">
                <div class="content-gallery zoom-gallery">
                <img src="http://acmdh.org/resource/images/gallery/evt21.jpg" alt="Evt21" style="width:100%">
                  <h5>Souper - Bénifice</h5>        
                </div>
              </div>
              <div class="column events">
                <div class="content-gallery zoom-gallery">
                <img src="http://acmdh.org/resource/images/gallery/evt22.jpg" alt="Evt22" style="width:100%">
                  <h5>Souper - Bénifice</h5>        
                </div>
              </div>
              <div class="column events">
                <div class="content-gallery zoom-gallery">
                <img src="http://acmdh.org/resource/images/gallery/evt23.jpg" alt="Evt23" style="width:100%">
                  <h5>Souper - Bénifice</h5>        
                </div>
              </div>
              <div class="column events">
                <div class="content-gallery zoom-gallery">
                <img src="http://acmdh.org/resource/images/gallery/evt24.jpg" alt="Evt24" style="width:100%">
                  <h5>Souper - Bénifice</h5>        
                </div>
              </div>
              <div class="column events">
                <div class="content-gallery zoom-gallery">
                <img src="http://acmdh.org/resource/images/gallery/evt25.jpg" alt="Evt25" style="width:100%">
                  <h5>Souper - Bénifice</h5>        
                </div>
              </div>
              <div class="column events">
                <div class="content-gallery zoom-gallery">
                <img src="http://acmdh.org/resource/images/gallery/evt26.jpg" alt="Evt26" style="width:100%">
                  <h5>Souper - Bénifice</h5>        
                </div>
              </div>
              <div class="column events">
                <div class="content-gallery zoom-gallery">
                <img src="http://acmdh.org/resource/images/gallery/evt27.jpg" alt="Evt27" style="width:100%">
                  <h5>Souper - Bénifice</h5>        
                </div>
              </div>
              
              <div class="column events">
                <div class="content-gallery zoom-gallery">
                <img src="http://acmdh.org/resource/images/gallery/evt28.jpg" alt="Evt28" style="width:100%">
                  <h5>Souper - Bénifice</h5>        
                </div>
              </div>
              <div class="column events">
                <div class="content-gallery zoom-gallery">
                <img src="http://acmdh.org/resource/images/gallery/evt29.jpg" alt="Evt29" style="width:100%">
                  <h5>Souper - Bénifice</h5>        
                </div>
              </div>
              <div class="column events">
                <div class="content-gallery zoom-gallery">
                <img src="http://acmdh.org/resource/images/gallery/evt30.jpg" alt="Evt30" style="width:100%">
                  <h5>Souper - Bénifice</h5>        
                </div>
              </div>
          
              <!-- Others section -->
              <div class="column others">
                <div class="content-gallery zoom-gallery">
                  <img src="http://acmdh.org/resource/images/gallery/autre1.jpg" alt="autre1" style="width:100%">
                  <h5>Tournoi de Soccer - Été 2016</h5>        
                </div>
              </div>
              <div class="column others">
                <div class="content-gallery zoom-gallery">
                  <img src="http://acmdh.org/resource/images/gallery/autre2.jpg" alt="autre2" style="width:100%">
                  <h5>Tournoi de Soccer - Été 2016</h5>        
                </div>
              </div>
              <div class="column others">
                <div class="content-gallery zoom-gallery">
                  <img src="http://acmdh.org/resource/images/gallery/autre3.jpg" alt="autre3" style="width:100%">
                  <h5>Tournoi de Soccer - Été 2016</h5>        
                </div>
              </div>
              <div class="column others">
                <div class="content-gallery zoom-gallery">
                  <img src="http://acmdh.org/resource/images/gallery/autre4.jpg" alt="autre4" style="width:100%">
                  <h5>Tournoi de Soccer - Été 2016</h5>        
                </div>
              </div>
              <div class="column others">
                <div class="content-gallery zoom-gallery">
                  <img src="http://acmdh.org/resource/images/gallery/autre5.jpg" alt="autre5" style="width:100%">
                  <h5>Tournoi de Soccer - Été 2016</h5>        
                </div>
              </div>
              <div class="column others">
                <div class="content-gallery zoom-gallery">
                  <img src="http://acmdh.org/resource/images/gallery/autre6.jpg" alt="autre6" style="width:100%">
                  <h5>Tournoi de Soccer - Été 2016</h5>        
                </div>
              </div>
              <div class="column others">
                <div class="content-gallery zoom-gallery">
                  <img src="http://acmdh.org/resource/images/gallery/autre7.jpg" alt="autre7" style="width:100%">
                  <h5>Tournoi de Soccer - Été 2016</h5>        
                </div>
              </div>
              <div class="column others">
                <div class="content-gallery zoom-gallery">
                  <img src="http://acmdh.org/resource/images/gallery/autre8.jpg" alt="autre8" style="width:100%">
                  <h5>Tournoi de Soccer - Été 2016</h5>        
                </div>
              </div>
              <div class="column others">
                <div class="content-gallery zoom-gallery">
                  <img src="http://acmdh.org/resource/images/gallery/autre9.jpg" alt="autre9" style="width:100%">
                  <h5>Tournoi de Soccer - Été 2016</h5>        
                </div>
              </div>
              <div class="column others">
                <div class="content-gallery zoom-gallery">
                <img src="http://acmdh.org/resource/images/gallery/autre10.jpg" alt="autre10" style="width:100%">
                  <h5>Tournoi de Soccer - Été 2016</h5>        
                </div>
              </div>
              <div class="column others">
                <div class="content-gallery zoom-gallery">
                <img src="http://acmdh.org/resource/images/gallery/autre11.jpg" alt="autre11" style="width:100%">
                  <h5>Tournoi de Soccer - Été 2016</h5>        
                </div>
              </div>
              <div class="column others">
                <div class="content-gallery zoom-gallery">
                <img src="http://acmdh.org/resource/images/gallery/autre12.jpg" alt="autre12" style="width:100%">
                  <h5>Sortie à Long Sault Parkway, ON</h5>        
                </div>
              </div>
              <div class="column others">
                <div class="content-gallery zoom-gallery">
                <img src="http://acmdh.org/resource/images/gallery/autre13.jpg" alt="autre13" style="width:100%">
                  <h5>Sortie à Long Sault Parkway, ON</h5>        
                </div>
              </div>
              <div class="column others">
                <div class="content-gallery zoom-gallery">
                <img src="http://acmdh.org/resource/images/gallery/autre14.jpg" alt="autre14" style="width:100%">
                  <h5>Sortie à Long Sault Parkway, ON</h5>        
                </div>
              </div>
              <div class="column others">
                <div class="content-gallery zoom-gallery">
                <img src="http://acmdh.org/resource/images/gallery/autre15.jpg" alt="autre15" style="width:100%">
                  <h5>Sortie à Long Sault Parkway, ON</h5>        
                </div>
              </div>
              <div class="column others">
                <div class="content-gallery zoom-gallery">
                <img src="http://acmdh.org/resource/images/gallery/autre16.jpg" alt="autre16" style="width:100%">
                  <h5>Sortie à Long Sault Parkway, ON</h5>        
                </div>
              </div>
              <div class="column others">
                <div class="content-gallery zoom-gallery">
                <img src="http://acmdh.org/resource/images/gallery/autre17.jpg" alt="autre17" style="width:100%">
                  <h5>Sortie à Long Sault Parkway, ON</h5>        
                </div>
              </div>
              <div class="column others">
                <div class="content-gallery zoom-gallery">
                <img src="http://acmdh.org/resource/images/gallery/autre18.jpg" alt="autre18" style="width:100%">
                  <h5>Sortie à Long Sault Parkway, ON</h5>        
                </div>
              </div>
            <!-- END GRID -->
            </div>
          
          <!-- END MAIN -->
          