<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="item active">
            <img src="http://acmdh.org/resource/images/carouss-1.jpg">
            <div class="container">
                <div class="carousel-caption">
                    <p class="carousol-text">Notre vision : contribuer à un monde auquel on a envie d'appartenir et de vivre ensemble.</p>
                </div>
            </div>
        </div>

        <div class="item">
            <img src="http://acmdh.org/resource/images/carouss-2.jpg">
            <div class="container">
                <div class="carousel-caption">
                    <p class="carousol-text">Nous sommes un organisme qui promeut l'éducation. Nous réunissons des fonds pour réaliser des projets de lutte contre l’analphabétisme et le décrochage scolaire au Maroc.</p>
                </div>
            </div>
        </div>
        <div class="item">
            <img src="http://acmdh.org/resource/images/carouss-3.jpg">
            <div class="container">
                <div class="carousel-caption" style="font-size:8px;">
                    <p class="carousol-text">Par la modernisation des écoles, la réhabilitation des installations électriques et sanitaires, 
Acmdh vise à améliorer le confort scolaire afin de fidéliser les élèves et notamment les filles dans le but d’accroître 
la scolarisation dans les zones rurales.</p>
                </div>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span
        class="glyphicon glyphicon-chevron-left"></span></a> <a
        class="right carousel-control" href="#myCarousel" data-slide="next"><span
        class="glyphicon glyphicon-chevron-right"></span></a>
</div>
<!-- End carousel -->
<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container-fluid">
    <!-- Three columns of text below the carousel -->
    <div class="row text-center">
        <div class="col-lg-4 marketing-item" >
            <img class="img-circle" src="http://acmdh.org/resource/images/targa03.jpg"
                alt="Generic placeholder image">
                <h3>ACMDH</h3>
            
            <p class="marketing-text">ACMDH – is non-profit organization whose goal is to promote human development through the promotion of education.</p>
            <p>
                <a class="btn btn-default" href="/about" role="button">Details&raquo;</a>
            </p>
        </div>
        <!-- /.col-lg-4 -->
        <div class="col-lg-4 marketing-item">
            <img class="img-circle" src="http://acmdh.org/resource/images/member.jpg"
                alt="Generic placeholder image">
            
                <h3>Become a Member</h3>
            
            <p class="marketing-text">By joining ACMDH, you commit to supporting its work to promote education and alleviate poverty in the most disadvantaged regions of Morocco.</p>
            <p>
                <a class="btn btn-default"  href="/become-member" role="button">Details&raquo;</a>
                <a class="btn btn-default"  href="/home" role="button">Details&raquo;</a>
            </p>
        </div>
        <!-- /.col-lg-4 -->
        <div class="col-lg-4 marketing-item">
            <img class="img-circle" src="http://acmdh.org/resource/images/faire-un-don.jpg"
                alt="Generic placeholder image">
                <h3>Donate</h3>
            <p class="marketing-text">By donating to ACMDH, you contribute to valuable projects that benefit the most vulnerable, especially school kids.</p>
            <p>
                <a class="btn btn-default" href="/donate" role="button">Details&raquo;</a>
            </p>
        </div>
        <!-- /.col-lg-4 -->
    </div>
    <!-- /.row -->
</div>