<h3> View Membre Details</h3>
<div>
    <div>
        <label> <b> nom: </b></label> {{membre.nom}}
    </div>
    <div>
        <label> <b> prenom: </b></label> {{membre.prenom}}
    </div>
     <div>
        <label> <b> adresse1: </b></label> {{membre.adresse1}}
    </div>
    <div>
        <label> <b> adresse2: </b></label> {{membre.adresse2}}
    </div>
    <div>
        <label> <b> tel: </b></label> {{membre.tel}}
    </div>
    <div>
        <label> <b> categorie: </b></label> {{membre.categorie}}
    </div>
    <div>
        <label> <b> email: </b></label> {{membre.email}}
    </div>
</div>