<div class="page-content">
	<h1>    <h2 class="title_cust_h2">ACMDH</h2>
</h1>
	<div class="row">
		<div class="col-md-8">
			
<div class="container">
	<p>
		L'Association Canado-Marocaine pour le Développement Humain - ACMDH - est un organisme à but non lucratif ayant pour objectif la promotion de l'éducation au Maroc et au Canada. 
		L'idée a été initiée par un groupe de bénévoles, partageant les valeurs et les compétences nécessaires pour œuvrer dans le domaine du social et de l'entraide.
		<span>Notre programme vise: </span>
	</p>
		
	<p>			
		<ol><li>Au Maroc, à couvrir les élèves nécessiteux à travers toutes les régions du Maroc, en particulier le monde rural.</li>
			<li>Au Canada, à contribuer à l'avancement de l’éducation au Québec par l'organisation activités socioéducatives et des séances d'orientation professionnelle au profit des élèves et étudiants de la région de Montréal.</li>			
		</ol>
	<p>
		Pour la réussite de notre mission, nous comptons sur chacun de vous.
	</p>

	<div>
		<nav>	 
			<h1 class="title_cust_h2">Comité exécutif</h1>	 
		</nav>
		<nav>  
		    <img class="img-circle_about" src="http://acmdh.org/resource/images/MohamedWakrim.jpg"  alt="MW">
		    <img class="img-circle_about" src="http://acmdh.org/resource/images/HassanAfif.jpg" alt="HA">
		    <img class="img-circle_about" src="http://acmdh.org/resource/images/Bencheikh.jpg" alt="TH">	    
		</nav>
		<nav>  
		    <p class="img-comment">Mohamed Wakrim, Président</p>
			<p class="img-comment">Hassan Afif, Vice-Président</p>		    
		    <p class="img-comment">Mustapha Bencheikh, Secrétaire Général</p>	   
		</nav>
	</div>

	<div>
		<nav>  
		    <img class="img-circle_about" src="http://acmdh.org/resource/images/RachidKaanane.jpg" alt="RK">
		    <img class="img-circle_about" src="http://acmdh.org/resource/images/Yassine.png"  alt="ME">
		    <img class="img-circle_about" src="http://acmdh.org/resource/images/amehir.jpg" alt="AM">

		</nav>
		<nav>
		 	<p class="img-comment">Rachid Kaanane, Trésorier</p>
		    <p class="img-comment">Yassine Ouhaddi, Administrateur</p>
		    <p class="img-comment">Abdellah Mehir, Administrateur</p>
		</nav>
	</div>

	<!-- div>	
		<nav>  
		    <img class="img-circle_about" src="http://acmdh.org/resource/images/AyoubElfouih.jpg" alt="AE">	   
		</nav>	
		<nav>   
		    <p class="img-comment">Ayoub, El Fouih Administrateur</p>
		</nav>
	</div-->
</div>

		</div>
		<div class="col-md-4">
		    <div class="panel panel-default">
			  <div class="panel-heading gradient-blue-3D">
			    <h3 class="panel-title"><span class="glyphicon glyphicon-heart"></span> Faire un don</h3>
			  </div>
			  <div class="panel-body">
			    <p>
			    	Il y a trois façons d'éffectuer un don à l'Association ACMDH:
			    	<ol>
			    		<li>Don en ligne via PayPal</li>
			    		<li>Virement bancaire</li>
			    		<li>Chèque, Espèce ou Mandat</li>
			    	</ol>
			    	Pour avoir plus d'information merci de consulter la page  <a routerLink="/donate">Faire un don</a>
			  </div>
			</div>
			<div class="panel panel-default">
			  <div class="panel-heading gradient-blue-3D">
			    <h3 class="panel-title"><span class="glyphicon glyphicon-user"></span> Devenir membre</h3>
			  </div>
			  <div class="panel-body">
			    <p>
			    	ACMDH a été établie avec le grand effort de ses membres actuels. Ceux qui souhaitent contribuer à cet effort sont les bienvenus pour  <a routerLink="/become-member">Devenir membre</a>
			    </p>
			  </div>
			</div>
		    <div class="panel panel-default">
		    	<div class="panel-heading gradient-blue-3D">
			    	<h3 class="panel-title"><span class="glyphicon glyphicon-thumbs-up"></span> Click <span class="label label-default">J'aime</span> et <span class="label label-default">Partage</span> Sur Facebook</h3>
			  	</div>
			    <div class="panel-body" style="text-align: center;">
			      <iframe width="95%" height="95%" frameborder="0" name="f3b28c84f20fbc6" allowtransparency="true" allowfullscreen="true" scrolling="no" title="fb:like_box Facebook Social Plugin" style="border: medium none; visibility: visible; width: 320px; height: 307px;" src="http://www.facebook.com/plugins/like_box.php?app_id=&amp;channel=http%3A%2F%2Fstatic.ak.facebook.com%2Fconnect%2Fxd_arbiter%2FNM7BtzAR8RM.js%3Fversion%3D41%23cb%3Df55184caea9bee%26domain%3Dacmdh.com%26origin%3Dhttp%253A%252F%252Facmdh.com%252Ff1d716ed172c19c%26relation%3Dparent.parent&amp;container_width=320&amp;header=true&amp;height=307&amp;href=http%3A%2F%2Fwww.facebook.com%2Facmdh&amp;sdk=joey&amp;show_faces=true&amp;stream=false&amp;width=320" class=""></iframe>
			    </div>
		    </div>
		</div>
	</div>
</div>
