<div class="page-content">
	<h1>    <h2 class="title_cust_h2">Faire un don</h2>
</h1>
	<div class="row">
		<div class="col-md-8">
				<!--<div class="row">
		<div class="form-group col-md-10">
			<p>
				Faire un don :
			</p>
		</div>
	</div>-->
	<!--<div>
		http://www.pourunmarocmeilleur.com/don/
		<br>
		http://www.solidaritecanadamaroc.com/partenaires/
		<br>
		https://www.cmha.ca/fr/participez/faites-un-don/
	</div>-->
	<div class="panel panel-default">
	  <div class="panel-heading">
	    <h3 class="panel-title">Don en ligne via PayPal</h3>
	  </div>
	  <div class="panel-body">
	    <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=YDFWWTVJ33XTE" target="_blank"><img src="https://www.paypal.com/fr_XC/i/btn/btn_donateCC_LG.gif"></a>
	  </div>
	</div>
	<div class="panel panel-default">
	  <div class="panel-heading">
	    <h3 class="panel-title">Virement bancaire</h3>
	  </div>
	  <div class="panel-body">
	    Pour faire un virement bancaire, vous pouvez appeler sur le numero: (438) 238-8748
	  </div>
	</div>
	<div class="panel panel-default">
	  <div class="panel-heading">
	    <h3 class="panel-title">Cheque, Espece ou Mandat</h3>
	  </div>
	  <div class="panel-body">
	  	<span>Veuillez libeller votre chèque ou mondat à l'ordre de : "ACMDH" et faites-le parvenir à :</span>
	    <address> 
		   4440 rue Des Cageux, Appt 8<br/> 
		   Laval, Québec<br/> 
		   H7W 2S7<br/>
		   Canada
		</address>
		Aussi, vous pouvez appeler sur le numero: (438) 238-8748
		
	  </div>
	</div>
		</div>
		<div class="col-md-4">
		    <div class="panel panel-default">
			  <div class="panel-heading gradient-blue-3D">
			    <h3 class="panel-title"><span class="glyphicon glyphicon-heart"></span> Faire un don</h3>
			  </div>
			  <div class="panel-body">
			    <p>
			    	Il y a trois façons d'éffectuer un don à l'Association ACMDH:
			    	<ol>
			    		<li>Don en ligne via PayPal</li>
			    		<li>Virement bancaire</li>
			    		<li>Chèque, Espèce ou Mandat</li>
			    	</ol>
			    	Pour avoir plus d'information merci de consulter la page  <a href="/donate">Faire un don</a>
			  </div>
			</div>
			<div class="panel panel-default">
			  <div class="panel-heading gradient-blue-3D">
			    <h3 class="panel-title"><span class="glyphicon glyphicon-user"></span> Devenir membre</h3>
			  </div>
			  <div class="panel-body">
			    <p>
			    	ACMDH a été établie avec le grand effort de ses membres actuels. Ceux qui souhaitent contribuer à cet effort sont les bienvenus pour  <a href="/become-member">Devenir membre</a>
			    </p>
			  </div>
			</div>
		    <div class="panel panel-default">
		    	<div class="panel-heading gradient-blue-3D">
			    	<h3 class="panel-title"><span class="glyphicon glyphicon-thumbs-up"></span> Click <span class="label label-default">J'aime</span> et <span class="label label-default">Partage</span> Sur Facebook</h3>
			  	</div>
			    <div class="panel-body" style="text-align: center;">
			      <iframe width="95%" height="95%" frameborder="0" name="f3b28c84f20fbc6" allowtransparency="true" allowfullscreen="true" scrolling="no" title="fb:like_box Facebook Social Plugin" style="border: medium none; visibility: visible; width: 320px; height: 307px;" src="http://www.facebook.com/plugins/like_box.php?app_id=&amp;channel=http%3A%2F%2Fstatic.ak.facebook.com%2Fconnect%2Fxd_arbiter%2FNM7BtzAR8RM.js%3Fversion%3D41%23cb%3Df55184caea9bee%26domain%3Dacmdh.com%26origin%3Dhttp%253A%252F%252Facmdh.com%252Ff1d716ed172c19c%26relation%3Dparent.parent&amp;container_width=320&amp;header=true&amp;height=307&amp;href=http%3A%2F%2Fwww.facebook.com%2Facmdh&amp;sdk=joey&amp;show_faces=true&amp;stream=false&amp;width=320" class=""></iframe>
			    </div>
		    </div>
		</div>
	</div>
</div>