<div class="page-content">
	<h1></h1>
	<div class="row">
		<div class="col-md-8">
			    <h2 class="title_cust_h2">Projets en cours</h2><br>
    <!-- Section with 1 section -->
	<div class="container">
		<div class="row">
		     
		    <div class="col-sm-12 col-xs-12 done-div">
					
			<div class="content-gallery zoom-gallery">
				<img src="http://acmdh.org/resource/images/Projet2020_1.jpg" style="width:45%">	
                <img src="http://acmdh.org/resource/images/Projet2020_2.jpg" style="width:45%">
				<img src="http://acmdh.org/resource/images/Projet2020_3.jpg" style="width:45%">
                <img src="http://acmdh.org/resource/images/Projet2020_4.jpg" style="width:45%">				
			  </div>
                 					
				<h3>Ait-Habibi II - 2020</h3>
				<p style="text-align: left;">Réaménagement des écoles Ait-Habibi en partenariat avec Maroc-Initiatives.<br/> 
Les besoins immédiats pour ce projet sont:<br/>
1.  Rénovation complète des salles de classe,<br/>
2.  Nouvelle toiture et un mur pour certaines salles,<br/>
3.  Rénovation des toilettes, <br/>
4.  Construction d'un espace couvert dans la cours (abris pour les enfants quand il pleut),<br/>
5.  Rénovation de la clôture.<br/>
6.  La peinture.<br/></p>				
			</div>			
		</div>
	</div>

	<br><h2 class="title_cust_h2">Projets réalisés</h2><br>
	<!-- Section with 2 sections -->
	<div class="container">		
		<div class="row">
		    <div class="col-sm-12 col-xs-12 done-div">
				<img class="img-square" src="http://acmdh.org/resource/images/aithabibi.jpg"
					alt="Generic placeholder image">
				<h3>Ait-Habibi I - 2019</h3>
				<p style="text-align: left;">Réaménagement des écoles du groupe scolaire Ait-Habibi à Benimellal et ses environs. Ce projet est réalisé en collaboration avec notre partenaire Maroc-Initiatives.<br/> 
Les besoins immédiats pour ce projet sont:<br/>
1.  La rénovation complète de 3 salles de classe,<br/>
2.  Une nouvelle toiture et un mur pour la 4ème salle,<br/>
3.  La rénovation de 4 toilettes, <br/>
4.  Construction d'un espace couvert dans la cour de l'école,<br/>
5.  La rénovation de la clôture de l'école.<br/></p>
				
			</div>	 
			<div class="col-sm-12 col-xs-12 done-div">
				<img class="img-square" src="http://acmdh.org/resource/images/Essaouira1.jpg"
					alt="Generic placeholder image">
				<h3>Essaouira - 2018</h3>
				<p style="text-align: left;">Réaménagement d'une école à Ichoughagh dans une localité de la ville d'Essaouira.<br/> 
65 écoliers ont bénéficié de ce projet. Les travaux achevés de ce projet consistent à:<br/>
1.  La construction d'une clôtute,<br/>
2.  L'aménagement des classes,<br/>
3.  L'aménagement des toilettes, <br/>
4.  L'aménagement de la cour de l'école,<br/>
5.  Autres (voir le rapport financier pour plus de détails).<br/></p>
				<p>
					<a href="#" class="btn btn-default" role="button" data-toggle="modal" data-videoTitle="Essaouira - 2018" data-target="#videoModal" data-videoId="wgDdMrpOMwc">Voir vidéo&raquo;</a>
				</p>
			</div>	

			<div class="col-sm-12 col-xs-12 done-div">
				<img class="img-square" src="http://acmdh.org/resource/images/senhaja2.jpg"
					alt="Generic placeholder image">
				<h3>Rokba II - 2017</h3>
				<p style="text-align: left;">L'objectif du projet Rokba II 2017 consistait en la réaménagement et l'alimentation en eau potable de l'école Rokba. Les travaux achevés consistaient à : <br/>  forger un puits, installer une pompe, adducter un réservoir, construire 4 toilettes, brancher la fausse sceptique et adducter en eau chaude, construire un mur de clôture, aménager et arboriser la cour et finalement aménager et peinturer les salles de cours.</p>
				<p>
					<a href="#" class="btn btn-default" role="button" data-toggle="modal" data-videoTitle="Rokba II - 2017" data-target="#videoModal" data-videoId="zJUhCt5D6hk">Voir vidéo&raquo;</a>
					<a class="btn btn-primary" role="button" data-toggle="collapse" href="#senhaja2" aria-expanded="false" aria-controls="senhaja2">
						  Rapport Moral et Financier
						</a>
												<div class="collapse" id="senhaja2">
						   <div class="well" >
							     <img class="zoom" class="img-square" src="http://acmdh.org/resource/images/SEN2-F.jpg" alt="Generic placeholder image">
                            							
						  	</div>
						</div>
			</div>			
		</div>		
	</div>
	<!-- Section with 3 sections -->
	<div class="container">	
		<div class="row">
			<div class="col-sm-12 col-xs-12 done-div">
				<img class="img-square" src="http://acmdh.org/resource/images/senhaja1.jpg"
					alt="Generic placeholder image">
				<h3>Rokba I - 2016</h3>
				<p style="text-align: left;">Dans le cadre de ces opérations d’aménagement des écoles dans les régions lointaines du Maroc, ACMDH est fière de vous annoncer les résultats de son opération Rokba I éffectuée en 2016.  Les objectifs pricipaux du projet ainsi réalisés étaient : 
<br/>
1.	La construction d'un mur de clôture. <br/> 
2.	La construction des blocs sanitaires. <br/>
3.	La réfection et la peinture des salles de cours.</p>
				<p>
					<a href="#" class="btn btn-default" role="button" data-toggle="modal" data-videoTitle="Rokba I - 2016" data-target="#videoModal" data-videoId="Dftzady3DJg">Voir vidéo&raquo;</a>
				 <a class="btn btn-primary" role="button" data-toggle="collapse" href="#senhaja1" aria-expanded="false" aria-controls="senhaja1">
					  Rapport Moral et Financier
					</a>
										<div class="collapse" id="senhaja1">
				  		<div class="well" >
					     	<img class="zoom" class="img-square" src="http://acmdh.org/resource/images/SEN1-F.jpg" alt="Generic placeholder image">
                        							
					  	</div>
					</div>
			</div>

			<div class="col-sm-12 col-xs-12 done-div">
				<img class="img-square" src="http://acmdh.org/resource/images/attab2.jpg"
					alt="Generic placeholder image">
				<h3>Ait Ettab 2 - 2015</h3>
				<p style="text-align: left;">Ce projet qui a débuté en fin de 2014 et a été finalisé en février 2016, concerne la réfection de trois écoles différentes situées aux communes Boubidi, Ihhejamen et Tagoudite dans des zones rurales retranchées de la région d’Azilal. Ce projet a été réalisé dans sa globalité avec un budget total de 9.000 $ Canadien . <br/> <br/>Veuillez noter que ce projet est la 2ème tranche qui a complété les travaux réalisés dans le projet <b>Ait Ettab 1</b>.</p>
				<p>
					<a href="#" class="btn btn-default" role="button" data-toggle="modal" data-videoTitle="Ait Ettab 2 - 2015" data-target="#videoModal" data-videoId="8sc4ESx3b34">Voir vidéo&raquo;</a>
					<a class="btn btn-primary" role="button" data-toggle="collapse" href="#at2" aria-expanded="false" aria-controls="at2">
					  Rapport Moral et Financier
					</a>
											<div class="collapse" id="at2">
					  <div class="well" > 
						     <img class="zoom" class="img-square" src="http://acmdh.org/resource/images/AT2-F.jpg" alt="Generic placeholder image">												
						  </div>
					</div>
								
					
			</div>		
			<div class="col-sm-12 col-xs-12 done-div" >
				<img class="img-square" src="http://acmdh.org/resource/images/sos1.jpg"
					alt="Generic placeholder image">
				<h3>SOS Sud - 2014</h3>
				<p style="text-align: left;">ACMDH et son partenaire <b>Maroc Initiatives</b> ont distribué des vêtements et des couvertures aux sinistrés dans les régions d'Ouarzazate, Goulmim, Taliouine, Tiznit et Taroudant.<br/>
	En total,  2500 personnes ont bénéficié de 1500 couvertures et des vêtements d'hiver. La contribution d'ACMDH s'est élevée à 5000 $.<br/><br/></p>
				<p>
					<a href="#" class="btn btn-default" role="button" data-toggle="modal" data-videoTitle="SOS Sud - 2014" data-target="#videoModal" data-videoId="SpvFpFUdjR0">Voir vidéo&raquo;</a>
				 <a class="btn btn-primary" role="button" data-toggle="collapse" href="#sos1" aria-expanded="false" aria-controls="sos1">
					  Rapport Moral et Financier
					</a>
											<div class="collapse" id="sos1">
					  <div class="well" >
						     <img class="zoom" class="img-square" src="http://acmdh.org/resource/images/SOF.jpg" alt="Generic placeholder image">												
						  </div>
					</div>
									
					
			</div>
			
		</div>
	</div>
	<!-- Section with 2 sections -->
	<div class="container">	
		<div class="row">
		<div class="col-sm-12 col-xs-12 done-div">
				<img class="img-square" src="http://acmdh.org/resource/images/attab1.jpg"
					alt="Generic placeholder image">
				<h3>Ait Ettab 1 - 2013</h3>
				<p style="text-align: left;">Accomplissement de tous les travaux :<br/>
* Le forage d’un puits et l’installation d’une pompe et d’un réservoir. * La construction d’une Sekaya avec l’eau potable pour tous les habitants du village. *	La réfection des toilettes avec de l'eau chaude. *	La construction et le renforcement de la clôture.*	La construction d'un abri dans la cour et son aménagement et son arborisation.</p>
				<p>
					<a href="#" class="btn btn-default" role="button" data-toggle="modal" data-videoTitle="Ait Ettab 1 - 2013" data-target="#videoModal" data-videoId="Lw88BIMn0fY">Voir vidéo&raquo;</a>
					
					 <a class="btn btn-primary" role="button" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">Rapport Moral et Financier</a>
											<div class="collapse" id="collapseExample">
					  		<div class="well" >
						     <img class="zoom" class="img-square" src="http://acmdh.org/resource/images/ATT-F.jpg" alt="Generic placeholder image">						
												
						  	</div>
						</div>
										
					
			</div>			
			<div class="col-sm-12 col-xs-12 done-div">
				<img class="img-square" src="http://acmdh.org/resource/images/targa03.jpg"
					alt="Generic placeholder image">
				<h3>Targa - 2012</h3>
				<p style="text-align: left;">Une équipe de médecins et dentistes surplace a donné des séances de formation et de sensibilisation à l’hygiène dentaire, des entractes d’animation par des clowns, et finalement la distribution de vêtements et des couvertures d’hiver. Quelque 230 jeunes élèves (âgés de 6 à 2 ans) de la région ont bénéficié de ce lot complet de vêtements (de la tête aux pieds) et des couvertures d'Hiver.</p>
				<p>
				<a href="#" class="btn btn-default" role="button" data-toggle="modal" data-videoTitle="Targa - 2012" data-target="#videoModal" data-videoId="WbLl_pQKkuc">Voir vidéo&raquo;</a>
					<a class="btn btn-primary" role="button" data-toggle="collapse" href="#tar1" aria-expanded="false" aria-controls="tar1">
					  Rapport Moral et Financier
					</a>
											<div class="collapse" id="tar1">
					  		<div class="well" >
							     <img class="zoom" class="img-square" src="http://acmdh.org/resource/images/TAR-F.jpg" alt="Generic placeholder image">
						 	 </div>
						</div>
						
			</div>
		</div>		
	</div>
		</div>
		<div class="col-md-4">
		    <div class="panel panel-default">
			  <div class="panel-heading gradient-blue-3D">
			    <h3 class="panel-title"><span class="glyphicon glyphicon-heart"></span> Faire un don</h3>
			  </div>
			  <div class="panel-body">
			    <p>
			    	Il y a trois façons d'éffectuer un don à l'Association ACMDH:
			    	<ol>
			    		<li>Don en ligne via PayPal</li>
			    		<li>Virement bancaire</li>
			    		<li>Chèque, Espèce ou Mandat</li>
			    	</ol>
			    	Pour avoir plus d'information merci de consulter la page  <a href="/donate">Faire un don</a>
			  </div>
			</div>
			<div class="panel panel-default">
			  <div class="panel-heading gradient-blue-3D">
			    <h3 class="panel-title"><span class="glyphicon glyphicon-user"></span> Devenir membre</h3>
			  </div>
			  <div class="panel-body">
			    <p>
			    	ACMDH a été établie avec le grand effort de ses membres actuels. Ceux qui souhaitent contribuer à cet effort sont les bienvenus pour  <a href="/become-member">Devenir membre</a>
			    </p>
			  </div>
			</div>
		    <div class="panel panel-default">
		    	<div class="panel-heading gradient-blue-3D">
			    	<h3 class="panel-title"><span class="glyphicon glyphicon-thumbs-up"></span> Click <span class="label label-default">J'aime</span> et <span class="label label-default">Partage</span> Sur Facebook</h3>
			  	</div>
			    <div class="panel-body" style="text-align: center;">
			      <iframe width="95%" height="95%" frameborder="0" name="f3b28c84f20fbc6" allowtransparency="true" allowfullscreen="true" scrolling="no" title="fb:like_box Facebook Social Plugin" style="border: medium none; visibility: visible; width: 320px; height: 307px;" src="http://www.facebook.com/plugins/like_box.php?app_id=&amp;channel=http%3A%2F%2Fstatic.ak.facebook.com%2Fconnect%2Fxd_arbiter%2FNM7BtzAR8RM.js%3Fversion%3D41%23cb%3Df55184caea9bee%26domain%3Dacmdh.com%26origin%3Dhttp%253A%252F%252Facmdh.com%252Ff1d716ed172c19c%26relation%3Dparent.parent&amp;container_width=320&amp;header=true&amp;height=307&amp;href=http%3A%2F%2Fwww.facebook.com%2Facmdh&amp;sdk=joey&amp;show_faces=true&amp;stream=false&amp;width=320" class=""></iframe>
			    </div>
		    </div>
		</div>
	</div>
	<!-- Ajax please wait model-->
    <div class="modal fade" id="pleaseWaitDialog" tabindex="-1" role="dialog" data-keyboard="false"
         data-backdrop="static">
      <div class="modal-dialog" style="margin-top:10%;">
        <div class="modal-content" style="box-shadow:none;border:none;background-color:transparent; ">
          <div class="modal-body">
            <div style="height:200px">
                <span id="spinner-img" style="position: absolute;display: block;top: 50%;left: 50%;"></span>
            </div>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <!-- video - modal -->
    <div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="videoModal" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 id="video-title" class="modal-title"></h4>
          </div>
          <div class="modal-body">
            <div id="video-container"></div>
          </div>
        </div>
      </div>
    </div>
</div>