<div class="page-content">
	<h1>    <h2 class="title_cust_h2">Contact</h2>
</h1>
	<div class="row">
		<div class="col-md-8">
						
	<div class="row">
		<div class="col-md-6">
			<h2>Nous contacter par courriel.</h2>
			<p>Veuillez remplir le formulaire ci-dessous pour nous faire part de vos commentaires ou questions.</p>
			<form role="form" action="#" method="post" name="contactus" id="contactus" novalidate>
				<div class="form-group">
					<div id="contactus-server-message" class="errorBlock"></div>
				</div>
				<div class="form-group">
					<label for="firstname">Prénom</label> 
					<input class="form-control" name="firstname" placeholder="Entrer votre prénom" 
					required>
				</div>
				<div class="form-group">
					<label for="lastname">Nom</label> 
					<input class="form-control" name="lastname" placeholder="Entrer votre nom" 
					required>
				</div>
				<div class="form-group">
				    <label for="email">Adresse courriel</label>
				    <input type="email" class="form-control" name="email" placeholder="Entrer votre adresse courriel"
				     required>
				</div>
				<div class="form-group">
					<label for="phone">Téléphone</label> 
					<input class="form-control" name="phone" placeholder="Entrer votre téléphone">
				</div>
				<div class="form-group">
					<label for="subject">Sujet</label> 
					<input class="form-control" name="subject" placeholder="Entrer l'objet de votre courriel" 
					required>
				</div>
				<div class="form-group">
					<label for="comments">Commentaires<sub>(4000 caracteres max)</sub></label> 
					<textarea maxlength="4000" rows="5" class="form-control" name="comments" id="comments" 
					required></textarea>
				</div>
				<button type="submit" class="btn btn-primary">Soumettre</button>
				<br>
			</form>
		</div>
		<div class="col-md-5 col-md-offset-1">
			<h3>Contactez-nous par courrier</h3>
			<div>
				<address>
					<strong>Association Canado-Marocaine<br>pour le développement Humain</strong><br>
					4440 rue Des Cageux, Appt 8<br> 
					Laval, Québec<br>
					H7W 2S7<br>
					Canada
				</address>
			</div>
			<h3>Contactez-nous par Téléphone</h3>
			<div>
				Appelez-nous au&nbsp;<strong>(438) 238-8748</strong> <br> 
			</div>
			<h3>Localisation</h3>
			<div>
				<iframe width="330" height="320" frameborder="0" scrolling="no" marginheight="0"
                     marginwidth="0" src="http://maps.google.ca/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=4440+rue+Des+Cageux,+Laval,+Qu%C3%A9bec+H7W+2S7&amp;t=m&amp;ll=45.5265969,-73.7525128&amp;
                     ie=UTF8&amp;hq=&amp;hnear=4440+rue+Des+Cageux,+Laval,+Qu%C3%A9bec+H7W+2S7&amp;t=m&amp;ll=45.5265969,-73.7525128&amp;
                     spn=0.012026,0.02738&amp;z=14&amp;iwloc=A&amp;output=embed">
                </iframe>
			</div>					
		</div>
	</div>
		</div>
		<div class="col-md-4">
		    <div class="panel panel-default">
			  <div class="panel-heading gradient-blue-3D">
			    <h3 class="panel-title"><span class="glyphicon glyphicon-heart"></span> Faire un don</h3>
			  </div>
			  <div class="panel-body">
			    <p>
			    	Il y a trois façons d'éffectuer un don à l'Association ACMDH:
			    	<ol>
			    		<li>Don en ligne via PayPal</li>
			    		<li>Virement bancaire</li>
			    		<li>Chèque, Espèce ou Mandat</li>
			    	</ol>
			    	Pour avoir plus d'information merci de consulter la page  <a href="/donate">Faire un don</a>
			  </div>
			</div>
			<div class="panel panel-default">
			  <div class="panel-heading gradient-blue-3D">
			    <h3 class="panel-title"><span class="glyphicon glyphicon-user"></span> Devenir membre</h3>
			  </div>
			  <div class="panel-body">
			    <p>
			    	ACMDH a été établie avec le grand effort de ses membres actuels. Ceux qui souhaitent contribuer à cet effort sont les bienvenus pour  <a href="/become-member">Devenir membre</a>
			    </p>
			  </div>
			</div>
		    <div class="panel panel-default">
		    	<div class="panel-heading gradient-blue-3D">
			    	<h3 class="panel-title"><span class="glyphicon glyphicon-thumbs-up"></span> Click <span class="label label-default">J'aime</span> et <span class="label label-default">Partage</span> Sur Facebook</h3>
			  	</div>
			    <div class="panel-body" style="text-align: center;">
			      <iframe width="95%" height="95%" frameborder="0" name="f3b28c84f20fbc6" allowtransparency="true" allowfullscreen="true" scrolling="no" title="fb:like_box Facebook Social Plugin" style="border: medium none; visibility: visible; width: 320px; height: 307px;" src="http://www.facebook.com/plugins/like_box.php?app_id=&amp;channel=http%3A%2F%2Fstatic.ak.facebook.com%2Fconnect%2Fxd_arbiter%2FNM7BtzAR8RM.js%3Fversion%3D41%23cb%3Df55184caea9bee%26domain%3Dacmdh.com%26origin%3Dhttp%253A%252F%252Facmdh.com%252Ff1d716ed172c19c%26relation%3Dparent.parent&amp;container_width=320&amp;header=true&amp;height=307&amp;href=http%3A%2F%2Fwww.facebook.com%2Facmdh&amp;sdk=joey&amp;show_faces=true&amp;stream=false&amp;width=320" class=""></iframe>
			    </div>
		    </div>
		</div>
	</div>
</div>