<div class="page-content">
	<h1></h1>
	<div class="row">
		<div class="col-md-8">
				<h2 class="title_cust_h2">Dernier événement</h2><br>
	<!-- Section with 1 section -->
	<div>		
	    <img src="http://acmdh.org/resource/images/souper2019.jpg">
	</div>

	<br><h2 class="title_cust_h2">Événements passés</h2><br>
	<!-- Section with 2 sections -->
	<div class="container">		
		<div class="row">
			<div class="col-sm-12 col-xs-12 done-div">	
 			<img class="img-square" src="http://acmdh.org/resource/images/orient2018.jpg"
					alt="Generic placeholder image">
				<h3>Séances d'orientations 2018</h3>
				<p style="text-align: left;">Comme l'année dernière, des séances d'orientation professionnelle seront organisées de la façon suivante :<br/>
		•	Le 17 Mars : Une conseillère en orientation professionnelle et un gestionnaire en sciences comptables et financières animeront la séance.<br/>
		•	Le 31 Mars : Une infirmière technologue, une pharmacienne et un médecin animeront la séance.<br/>
		•	Le 28 Avril : Trois ingénieurs en sciences de l’ingénierie et technologie animeront la séance.</p>
			</div>

			<div class="col-sm-12 col-xs-12 done-div">	
 			<img class="img-square" src="http://acmdh.org/resource/images/Orient2017.jpg"
					alt="Generic placeholder image">
			<h3>Séances d'orientations 2017</h3>
			<p style="text-align: left;">Soucieuse de l’avenir des enfants de notre communauté, l’Association ACMDH a organisé en 2017 en collaboration avec Fr. Makaoui (Imam francophone de Rawda) 
	                      des séances d’orientation professionnelle dans le but d’aider les enfants à choisir leurs domaines professionnels. Ces séances ont été animées par des séniors qui ont réussi leurs vies professionnelles dans différents domaines comme la santé, la Science et en ingénierie.</p>
			</div>
				
			<div class="col-sm-12 col-xs-12 done-div">
				<img class="img-square" src="http://acmdh.org/resource/images/dinner2017.jpg"
					alt="Generic placeholder image">
				<h3>Souper 2017</h3>
				<p style="text-align: left;">Les membres d'ACMDH, ses amis ainsi que leurs familles se sont réunis autour d'un souper-bénéfice le 4 mars 2017. Les quelques 250 personnes ont accueilli avec enthousiasme et chaleur nos deux invités le réciteur Aloyoun Al Kouchi et Cheikh Mehdi Tirkawi qui ont contribué au succès de cet événement.  <br/> ACMDH tient à remercier nos sœurs et frères bénévoles qui ont contribué à la réussite de cet événement. Nous resterons marqués par leur présence et de leur soutien particulier.</p>
				<!--p>
					<a href="#" class="btn btn-default" role="button" data-toggle="modal" data-videoTitle="Soccer 2016" data-target="#videoModal" data-videoId="W-w9u24PzzQ">Voir vidéo&raquo;</a>
				</p-->
			</div>	
		</div>				
	</div>
	<!-- Section with 3 sections -->
	<div class="container"> 
		<div class="row">
			<div class="col-sm-12 col-xs-12 done-div">
				<img class="img-square" src="http://acmdh.org/resource/images/soccer.jpg"
					alt="Generic placeholder image">
				<h3>Soccer 2016</h3>
				<p style="text-align: left;">ACMDH a organisé un tournoi de soccer pour les jeunes de la communauté.
                Trois équipes ont y participé pour un total de 40 joueurs. Chaque équipe devait jouer deux matchs. À la fin, l'équipe ayant remporté  le plus de point était celle qui a gagné le trophet. Des médailles ont été remises à tous les participants. D'autres médailles ont été remises au meilleur joueur du tournoi ainsi que celui du joueur le plus jeune talent de la compétition.</p>
				<!--p>
					<a href="#" class="btn btn-default" role="button" data-toggle="modal" data-videoTitle="Soccer 2016" data-target="#videoModal" data-videoId="W-w9u24PzzQ">Voir vidéo&raquo;</a>
				</p-->
			</div>	
		
			<div class="col-sm-12 col-xs-12 done-div">
				<img class="img-square" src="http://acmdh.org/resource/images/d2014.jpg"
					alt="Generic placeholder image">
				<h3>Souper 2014</h3>
				<p style="text-align: left;">Le 19 Avril 2014, dans une salle de réception vaste et luxueuse du Château Royal de Laval, ACMDH a organisé son deuxième événement. C'etait l'occasion pour la grande famille ACMDH (les membres, leurs amis, leurs familles) de présenter la fin des travaux de la première tranche du projet Ait Ettab-1 et lancer la compagne de financement de sa deuxième tranche Ait Ettab-2.</p>
				<!--p>
					<a href="#" class="btn btn-default" role="button" data-toggle="modal" data-videoTitle="Ait Ettab 1 - 2013" data-target="#videoModal" data-videoId="Lw88BIMn0fY">Voir vidéo&raquo;</a>
				</p-->
			</div>			
		
			<div class="col-sm-12 col-xs-12 done-div">
				<img class="img-square" src="http://acmdh.org/resource/images/sortie1.jpg"
					alt="Generic placeholder image">
				<h3>Sortie familiale BBQ</h3>
				<p style="text-align: left;">Dans le but de nouer les liens entre les membres de ces membres, l’ACMDH a organisé un BBQ au parc <b>Long Sault en Ontario</b>. 
						Les membres de l’Association et leurs familles ont participé à cet événement à travers plusieurs activités telles un BBQ, une baignade et différents jeux pour les enfants.</p>
				<!--p>
					<a href="#" class="btn btn-default" role="button" data-toggle="modal" data-videoTitle="Sortie familiale BBQ" data-target="#videoModal" data-videoId="Lw88BIMn0fY">Voir vidéo&raquo;</a>
				</p-->
			</div>
		</div>			
	</div>
	<!-- Section with 1 section -->
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-xs-12 done-div">
				<img class="img-square" src="http://acmdh.org/resource/images/d2013.jpg"
					alt="Generic placeholder image">
				<h3>Souper 2013</h3>
				<p style="text-align: left;">le 12 mai 2013, ACMDH a organisé son premier événement. Il s'agit d'un souper bénéfice  dont l'objectif était de communiquer 
	à la communauté la mission de l'Association, ses réalisations à Targa et son projet futur d'Ait Ettab.</p>
				<!--p>
					<a href="#" class="btn btn-default" role="button" data-toggle="modal" data-videoTitle="Ait Ettab 1 - 2013" data-target="#videoModal" data-videoId="Lw88BIMn0fY">Voir vidéo&raquo;</a>
				</p-->
			</div>
		</div>		
	</div>	
		</div>
		<div class="col-md-4">
		    <div class="panel panel-default">
			  <div class="panel-heading gradient-blue-3D">
			    <h3 class="panel-title"><span class="glyphicon glyphicon-heart"></span> Faire un don</h3>
			  </div>
			  <div class="panel-body">
			    <p>
			    	Il y a trois façons d'éffectuer un don à l'Association ACMDH:
			    	<ol>
			    		<li>Don en ligne via PayPal</li>
			    		<li>Virement bancaire</li>
			    		<li>Chèque, Espèce ou Mandat</li>
			    	</ol>
			    	Pour avoir plus d'information merci de consulter la page  <a href="/donate">Faire un don</a>
			  </div>
			</div>
			<div class="panel panel-default">
			  <div class="panel-heading gradient-blue-3D">
			    <h3 class="panel-title"><span class="glyphicon glyphicon-user"></span> Devenir membre</h3>
			  </div>
			  <div class="panel-body">
			    <p>
			    	ACMDH a été établie avec le grand effort de ses membres actuels. Ceux qui souhaitent contribuer à cet effort sont les bienvenus pour  <a href="/become-member">Devenir membre</a>
			    </p>
			  </div>
			</div>
		    <div class="panel panel-default">
		    	<div class="panel-heading gradient-blue-3D">
			    	<h3 class="panel-title"><span class="glyphicon glyphicon-thumbs-up"></span> Click <span class="label label-default">J'aime</span> et <span class="label label-default">Partage</span> Sur Facebook</h3>
			  	</div>
			    <div class="panel-body" style="text-align: center;">
			      <iframe width="95%" height="95%" frameborder="0" name="f3b28c84f20fbc6" allowtransparency="true" allowfullscreen="true" scrolling="no" title="fb:like_box Facebook Social Plugin" style="border: medium none; visibility: visible; width: 320px; height: 307px;" src="http://www.facebook.com/plugins/like_box.php?app_id=&amp;channel=http%3A%2F%2Fstatic.ak.facebook.com%2Fconnect%2Fxd_arbiter%2FNM7BtzAR8RM.js%3Fversion%3D41%23cb%3Df55184caea9bee%26domain%3Dacmdh.com%26origin%3Dhttp%253A%252F%252Facmdh.com%252Ff1d716ed172c19c%26relation%3Dparent.parent&amp;container_width=320&amp;header=true&amp;height=307&amp;href=http%3A%2F%2Fwww.facebook.com%2Facmdh&amp;sdk=joey&amp;show_faces=true&amp;stream=false&amp;width=320" class=""></iframe>
			    </div>
		    </div>
		</div>
	</div>
</div>